<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{employee.management}">员工管理</title>
    <script type="text/javascript">
        baseUrl = window.location.origin;
    </script>
    <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css"/>-->
    <script>document.write('\<script type="text/javascript" src="' + baseUrl + '/lib/jquery/jquery-3.3.1.js"/>');</script>
    <script>document.write('\<script type="text/javascript" src="' + baseUrl + '/lib/jquery/jquery.blockUI.js"/>');</script>
    <script type="text/javascript" th:src="@{/res/js/common.js}" src="../../static/res/js/common.js"></script>
    <script>document.write('\<script type="text/javascript" src="' + baseUrl + '/lib/bootstrap/js/bootstrap.js"/>');</script>
    <script>document.write('<link type="text/css" rel="stylesheet" href="' + baseUrl + '/lib/bootstrap/css/bootstrap.css"/>');</script>
    <script>document.write('\<link type="text/css" rel="stylesheet" href="' + baseUrl + '/lib/bootstrap/css/bootstrap.css"/>');</script>
</head>
<body>
<div class="container table-responsive" style="text-align: center">
    <table class="table table-condensed table-hover table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th th:text="#{employee.name}">姓名</th>
            <th th:text="#{employee.gender}">性别</th>
            <th th:text="#{employee.age}">年龄</th>
            <th th:text="#{employee.edit}">编辑</th>
            <th th:text="#{employee.delete}">删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp:${pageInfo.list}">
            <td th:text="${emp.id}">ID</td>
            <td th:text="${emp.name}">ID</td>
            <td th:text="${emp.gender}">ID</td>
            <td th:text="${emp.age}">ID</td>
            <td><a class="btn-primary" th:text="#{employee.edit}" th:href="|@{/emp/edit}?id=${emp.id}|"
                   href="/emp/update">编辑</a></td>
            <td><a class="btn-danger" th:text="#{employee.delete}"
                   th:href="|@{/emp/delete}?id=${emp.id}&page=${pageInfo.pageNum}&pageSize=${pageInfo.pageSize}|"
                   href="/emp/delete">删除</a></td>
        </tr>
        </tbody>
    </table>
    <div style="margin-top: 5px">
        <a th:text="#{employee.add}" th:href="@{/emp/edit}" class="btn-success" style="margin-right: 10px">[新增]</a>
        <a th:text="#{employee.firstpage}" th:if="${pageInfo.isFirstPage==false}" th:href="|?page=${pageInfo.navigateFirstPage}|">[首 页]</a>
        <a th:text="#{employee.prepage}" th:if="${pageInfo.hasPreviousPage==true}" th:href="|?page=${pageInfo.prePage}|">[上一页]</a>
        <a th:text="#{employee.nextpage}" th:if="${pageInfo.hasNextPage==true}" th:href="|?page=${pageInfo.nextPage}|">[下一页]</a>
        <a th:text="#{employee.lastpage}" th:if="${pageInfo.isLastPage==false}" th:href="|?page=${pageInfo.navigateLastPage}|">[末 页]</a>
        <a th:text="#{app.logout}" th:href="@{/user/logout}" class="btn-success" style="margin-left: 10px">[退出]</a>
    </div>
    <div class="row" style="margin-top: 5px">
        <span th:text="#{employee.pagetip}">当前页/总页数：</span>
        <strong th:text="${pageInfo.pageNum}" id="current-page">1</strong>
        /
        <strong th:text="${pageInfo.pages}" id="totalPages">10</strong>
    </div>
</div>
</body>
</html>